@page "/"

<h1>Jantar dos Filósofos</h1>
<br><br>
<span class="hide" @onclick="FireClick" @ref=MyElementReference></span>

@if(showReports) {
<div class="row">
    <div class="col col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Filosófo</th>
                    <th>QTD Que Comeu</th>
                    <th>QTD Que Pensou</th>
                    <th>QTD Com Fome</th>
                    <th>Status</th>
                    <th>Milisegundos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img src="img/aristosteles.jpg" alt="alt text">
                    </td>
                    <td>@philosopher_1_eats</td>
                    <td>@philosopher_1_think</td>
                    <td>@philosopher_1_hunger</td>
                    <td data-content="@philosopher_1_status">@philosopher_1_status</td>
                    <td>@philosopher_1_time</td>
                </tr>
                <tr>
                    <td>
                        <img src="img/gabriel.png" alt="alt text">
                    </td>
                    <td>@philosopher_2_eats</td>
                    <td>@philosopher_2_think</td>
                    <td>@philosopher_2_hunger</td>
                    <td data-content="@philosopher_2_status">@philosopher_2_status</td>
                    <td>@philosopher_2_time</td>
                </tr>
                <tr>
                    <td>
                        <img src="img/niet.jpg" alt="alt text">
                    </td>
                    <td>@philosopher_3_eats</td>
                    <td>@philosopher_3_think</td>
                    <td>@philosopher_3_hunger</td>
                    <td data-content="@philosopher_3_status">@philosopher_3_status</td>
                    <td>@philosopher_3_time</td>
                </tr>
                <tr>
                    <td>
                        <img src="img/platao.jpg" alt="alt text">
                    </td>
                    <td>@philosopher_4_eats</td>
                    <td>@philosopher_4_think</td>
                    <td>@philosopher_4_hunger</td>
                    <td data-content="@philosopher_4_status">@philosopher_4_status</td>
                    <td>@philosopher_4_time</td>
                </tr>
                <tr>
                    <td>
                        <img src="img/socrates.jpg" alt="alt text">
                    </td>
                    <td>@philosopher_5_eats</td>
                    <td>@philosopher_5_think</td>
                    <td>@philosopher_5_hunger</td>
                    <td data-content="@philosopher_5_status">@philosopher_5_status</td>
                    <td>@philosopher_5_time</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
} 
else 
{
    <button class="btn btn-primary" @onclick="StartDinner">Começar o Jantar</button>
}

@using System.Threading
@using System.Timers
@inject IJSRuntime JSRuntime

@code {
    Jantar jantar;
    Relatorio relatorio;
    ElementReference MyElementReference;
    bool showReports = false;
    long philosopher_1_eats;
    long philosopher_2_eats;
    long philosopher_3_eats;
    long philosopher_4_eats;
    long philosopher_5_eats;
    long philosopher_1_think;
    long philosopher_2_think;
    long philosopher_3_think;
    long philosopher_4_think;
    long philosopher_5_think;
    long philosopher_1_hunger;
    long philosopher_2_hunger;
    long philosopher_3_hunger;
    long philosopher_4_hunger;
    long philosopher_5_hunger;
    string philosopher_1_status;
    string philosopher_2_status;
    string philosopher_3_status;
    string philosopher_4_status;
    string philosopher_5_status;
    long philosopher_1_time;
    long philosopher_2_time;
    long philosopher_3_time;
    long philosopher_4_time;
    long philosopher_5_time;

    void StartDinner()
    {
        showReports = true;
        relatorio = new Relatorio(AtualizaTela);
        jantar = new Jantar(relatorio);
        Thread.Sleep(100);
        SetTimer();
        StateHasChanged();
    }

    void AtualizaTela()
    {
        relatorio.relatorios.TryGetValue("Filosofo 1 Comeu", out philosopher_2_eats);
        relatorio.relatorios.TryGetValue("Filosofo 2 Comeu", out philosopher_3_eats);
        relatorio.relatorios.TryGetValue("Filosofo 3 Comeu", out philosopher_4_eats);
        relatorio.relatorios.TryGetValue("Filosofo 4 Comeu", out philosopher_5_eats);
        relatorio.relatorios.TryGetValue("Filosofo 5 Comeu", out philosopher_1_eats);

        relatorio.relatorios.TryGetValue("Filosofo 1 Pensou", out philosopher_2_think);
        relatorio.relatorios.TryGetValue("Filosofo 2 Pensou", out philosopher_3_think);
        relatorio.relatorios.TryGetValue("Filosofo 3 Pensou", out philosopher_4_think);
        relatorio.relatorios.TryGetValue("Filosofo 4 Pensou", out philosopher_5_think);
        relatorio.relatorios.TryGetValue("Filosofo 5 Pensou", out philosopher_1_think);

        relatorio.relatorios.TryGetValue("Filosofo 1 Fome", out philosopher_2_hunger);
        relatorio.relatorios.TryGetValue("Filosofo 2 Fome", out philosopher_3_hunger);
        relatorio.relatorios.TryGetValue("Filosofo 3 Fome", out philosopher_4_hunger);
        relatorio.relatorios.TryGetValue("Filosofo 4 Fome", out philosopher_5_hunger);
        relatorio.relatorios.TryGetValue("Filosofo 5 Fome", out philosopher_1_hunger);

        relatorio.status.TryGetValue("Filosofo 1 Status", out philosopher_2_status);
        relatorio.status.TryGetValue("Filosofo 2 Status", out philosopher_3_status);
        relatorio.status.TryGetValue("Filosofo 3 Status", out philosopher_4_status);
        relatorio.status.TryGetValue("Filosofo 4 Status", out philosopher_5_status);
        relatorio.status.TryGetValue("Filosofo 5 Status", out philosopher_1_status);

        relatorio.relatorios.TryGetValue("Filosofo 1 Tempo", out philosopher_2_time);
        relatorio.relatorios.TryGetValue("Filosofo 2 Tempo", out philosopher_3_time);
        relatorio.relatorios.TryGetValue("Filosofo 3 Tempo", out philosopher_4_time);
        relatorio.relatorios.TryGetValue("Filosofo 4 Tempo", out philosopher_5_time);
        relatorio.relatorios.TryGetValue("Filosofo 5 Tempo", out philosopher_1_time);

    }

    void SetTimer()
    {
        System.Timers.Timer aTimer = new System.Timers.Timer(100);
        aTimer.Elapsed += new System.Timers.ElapsedEventHandler(OnTimedEvent);
        aTimer.AutoReset = true;
        aTimer.Enabled = true;
    }

    void OnTimedEvent(Object source, ElapsedEventArgs e)
    {
        JSRuntime.InvokeVoidAsync("TriggerClick", MyElementReference);
    }

    void FireClick()
    {
        StateHasChanged();
    }
}
